[Desktop Entry]
Encoding=UTF-8
Name=steepcoin Core
Comment=steepcoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem steepcoin peer-to-peer Netzwerk
Comment[fr]=steepcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=steepcoin, eşten eşe kriptografik sanal para birimi
Exec=steepcoin-qt %u
Terminal=false
Type=Application
Icon=steepcoin128
MimeType=x-scheme-handler/steepcoin;
Categories=Office;Finance;
