[Unit]
Description=steepcoin's distributed currency daemon
After=network.target

[Service]
User=steepcoincore
Group=steepcoincore

Type=forking
PIDFile=/var/lib/steepcoind/steepcoind.pid
ExecStart=/usr/bin/steepcoind -daemon -pid=/var/lib/steepcoind/steepcoind.pid \
-conf=/etc/steepcoincore/steepcoin.conf -datadir=/var/lib/steepcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
